obj/Debug/MainStructures.csproj.CoreCompileInputs.cache
obj/Debug/MainStructures.csprojAssemblyReference.cache
obj/Debug/MainStructures.csproj.FileListAbsolute.txt
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainStructures.pdb
obj/Debug/MainStructures.exe
bin/Debug/MainStructures.exe
bin/Debug/MainStructures.exe.config
bin/Debug/MainStructures.pdb
Properties/AssemblyInfo.cs
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
App.config
